/*
Reglas generales para todas las paginas
*/

/* Paleta general de colores, d = dark; m = medium; l = light */
:root {
    --blue-color-d: #072AC8;    /* Primary/Default */
    --blue-color-m: #43D2FF;    /* Accent */
    --blue-color-l1: #A2D6F9;   /* Primary/Hover */
    --blue-color-l2: #D1EDFF;   /* Primary/Tapped */
    --blue-color-l3: #ECF7FF;   /* Neutral/Light Blue */
    --grey-color-l: #F4F6FC;    /* Neutral/Light */
    --grey-color-m: #6B708D;    /* Neutral/Medium */
    --navyblue: #292E47;;
    --yellow: #FFC600;
  }
  
html {
    margin: 0;
}

h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;

    color: #514D67;
}

h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
    color: #514D67;
}

h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #514D67;
}

h4 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;

    color: #514D67;
}

.bodyIntrotextMedium {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;

    color: #514D67;


}

.bodyIntrotextRegular {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    /* identical to box height, or 30px */


    color: #514D67;
}

.headLinetextRegular {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    /* identical to box height, or 26px */


    color: #514D67;
}

.headLinetextMedium {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 130%;
    /* identical to box height, or 22px */


    color: #514D67;
}

.caption1TextRegular {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */


    color: #514D67;

}

.caption2TextRegular {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;

    color: #514D67;

}

/* para placeholder text formulario (contactus pagina) */

input {

    padding: 30px;
    box-sizing: border-box;
    width: 100%;

}

::placeholder {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    color: #6B708D;
    padding: 1%;
}

textarea {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    color: #6B708D;
}

body {

    background-color: #F4F6FC;
}

.buttonStyles {

    background-color: #072AC8;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 130%;
    color: white;
    width: 100%;
    height: 80px;
    text-align: center;
    margin: 5% 0 5% 0;
}

/*

Reglas CSS contactus.html (contact us page) 
*/

.formFieldBackgroundColor {

    background-color: #CFD2DE;
}

.formFieldStylingfirst3fields {

    width: 100%;
    height: 70px;
    border: none;
}

.formFieldStylingLastField {
    width: 100%;
    height: 200px;
    border: none;

}

.formOutterDiv {

    margin: 10%;
}

.allFormFields {

    margin: 3% 0;
}

/*

Mediaqueries para (para contactus pagina) IPAD
*/

@media (min-width: 769px) and (max-width: 1024px) {


    .formOutterDiv {
        margin: 10%;
    }

    .sideBySide {

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 4%;
    }


    .box1 {
        width: 100%;
    }

    .allFormFields {

        margin: 3% 0;
    }

}

/*

Mediaqueries para (para contactus pagina) Desktop (todos los desktops mayor que 1025px)
*/




@media (min-width: 1025px) {

    .formOutterDiv {
        margin: 10%;
    }

    .sideBySide {

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 4%;
    }


    .box1 {
        width: 100%;
    }

    .allFormFields {

        margin: 3% 0;
    }

}